body {
    font-family: 'Poppins';
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
}


ul,
a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
}

ul,
a:hover {
    color: #b88e2f;
}

main {
    margin: 10px 100px 0 100px;
}

footer {
    margin: auto;
    border-top: 2px solid lightgray;
    padding: 20px 0;
}

.page-links {
    display: flex;
    justify-content: center;
    gap: 50px;
}


.search-container {
    background-color: #f7f7f7;
    width: auto;
    border-radius: 10px;
}

.search-container button {
    padding: 10px 0px 10px 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.search-bar {
    padding: 5px;
    font-size: 15px;
    border: none;
    background-color: #f7f7f7;
    outline: none;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: black;
}

.footer-grid {
    grid-column-gap: 24px;
    grid-row-gap: 12px;
    flex: 1;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    margin: 2rem 4rem;
    /* background-color: darkolivegreen; */
}

.footer-col-2 {
    grid-column-gap: 12px;
    grid-row-gap: 6px;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
    align-content: start;
    align-items: flex-start;
    justify-items: start;
    display: flex;
}

.footer-col-2 i {
    margin-right: 10px;
}

.email-subscribe,
.subscribe-button {
    margin-top: 24px;
    margin-right: 7px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: white;
    font-size: 15px;
}

.subscribe-button {
    cursor: pointer;
    height: 22px;
}

.return {
    margin: 4rem 7rem;
    text-align: justify;
    line-height: 1.7;
}

.subbab {
    margin-bottom: 1rem;
}

.subbab h3 {
    margin: 0%;
    margin-bottom: 2px;
}

.subbab p {
    margin: 0px;
}

.sub1 {
    margin-bottom: 1rem;
}

.sub1 p {
    margin: 0px;
    font-weight: bold;
}

.subbab ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0%;
    margin-top: 5px;
}

li {
    margin-bottom: 5px;
    font-weight: normal;
}




/* Mobile Styles */
@media screen and (max-width: 600px) {
    main {
        margin: 0%;
    }

    .return {
        margin: 4rem 5rem;
        text-align: justify;
        line-height: 1.0;
    }

    .hamburger-menu {
        display: flex;
        margin-left: auto;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(136deg);
    }

    .page-links {
        margin-bottom: 19px;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 72px;
        left: 0;
        background-color: #f7f7f7;
        width: 100%;
        padding: 10px 0;
        z-index: 2;
    }

    .page-links li {
        margin: 0rem 4rem;
    }

    .page-links.active {
        display: flex;
    }

    .search-container {
        background-color: #f7f7f7;
        transform: scale(0.8);
        width: 94px;
    }

    .search-bar {
        padding: 1px;
        font: 15px sans-serif;
        border: none;
        background-color: #f7f7f7;
        outline: none;
        max-width: 50%;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-col-2,
    .footer-col-3 {
        align-items: center;
        margin-bottom: 20px;
    }

    .email-subscribe {
        margin: 0px 40px;
    }

    .subscribe-button {
        margin: 20px 40px;
    }

}

/* Tablet Styles */
@media (min-width: 601px) and (max-width: 1024px) {

    main {
        margin: 0%;
    }
    .hamburger-menu {
        display: flex;
        margin-left: auto;
        margin-right: 1rem;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(136deg);
    }

    .page-links {
        margin-bottom: 19px;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 0;
        background-color: #f7f7f7;
        width: 100%;
        padding: 10px 0;
        z-index: 2;
    }

    .page-links li {
        margin: 0rem 4rem;
    }

    .page-links.active {
        display: flex;
    }

    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    .footer-col-2 {
        align-items: center;
        margin-bottom: 20px;

    }

    .email-subscribe {
        margin: 0px 40px;
    }

    .subscribe-button {
        margin: 20px 40px;
    }


}

/* Desktop Styles */
@media (min-width: 1025px) {


    .footer-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .email-subscribe {
        margin-right: 60px;
    }

    .subscribe-button {
        margin: 20px 0px;
    }

}